// Grid
$breakpoints: (
    xs : 481px,
    sm : 641px,
    md : 769px,
    lg : 961px,
    xl : 1201px,
    hd : 1441px,
) !default;
$gridcols : 12 !default;
// Default spacing between components
$spacing : 1.618rem !default;
// Default gutter for grid, and when two components butt up against each other
// Default is $spacing / 2, but can be explicitly set to an EM, REM, or PX value
$gutter : $spacing / 2 !default;